<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Tekken</title>
        <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ url_for("static", filename="tekken.js") }}"></script>
        <link rel="stylesheet" href="{{ url_for("static", filename="index.css") }}">
        <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.png") }}">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    </head>
    <body>
        <div style="width: 1350px;">
            <div style="display: inline-block;">
                <canvas id="myCanvas" width="960" height="540"></canvas>
            </div>
            <div class="menu">
                {{ menu | safe }}
            </div>
        </div>
        <div>
        <button class="button" id="down">
            <span style="font-size: large;">
                <i class="fas fa-caret-left"></i>
            </span>
        </button>
        <button class="button" id="mute">
            <span style="font-size: large;">
                <i class="fas fa-volume-up"></i>
                <span id="volume" style="font-weight: bold;">5</span>
            </span>
        </button>
        <button class="button" id="up">
            <span style="font-size: large;">
                <i class="fas fa-caret-right"></i>
            </span>
        </button>
        </div>
    </body>
</html>
