<h1>操作方法</h1>
<ul>
    <li>スペースキーまたはクリックでスタート</li>
    <li>3ラウンド制</li>
    <li>体力が一定以下になるとレイジ状態へ移行</li>
</ul>
<h2>LEFT</h2>
<table>
    <tr>
        <th>行動</th>
        <th>コマンド</th>
    </tr>
    <td>左移動</td>
    <td>A</td>
    <tr>
        <td>右移動</td>
        <td>D</td>
    </tr>
    <tr>
        <td>ジャンプ</td>
        <td>W</td>
    </tr>
    <tr>
        <td>しゃがむ</td>
        <td>S</td>
    </tr>
    <tr>
        <td>攻撃</td>
        <td>G</td>
    </tr>
</table>
<h2>RIGHT</h2>
<table>
    <tr>
        <th>行動</th>
        <th>コマンド</th>
    </tr>
    <td>左移動</td>
    <td>←</td>
    <tr>
        <td>右移動</td>
        <td>→</td>
    </tr>
    <tr>
        <td>ジャンプ</td>
        <td>↑</td>
    </tr>
    <tr>
        <td>しゃがむ</td>
        <td>↓</td>
    </tr>
    <tr>
        <td>攻撃</td>
        <td>
            .<span style="font-size: small;"> (テンキー)</span>
        </td>
    </tr>
</table>
<h2>技表</h2>
<table>
    <tr>
        <th>技名</th>
        <th>コマンド</th>
    </tr>
    <td>ミドルパンチ</td>
    <td>
        攻撃<span style="font-size: small;"> (ジャンプ中も可)</span>
    </td>
    <tr>
        <td>ローキック</td>
        <td>しゃがみ中 攻撃</td>
    </tr>
    <tr>
        <td>上段レイジドライブ</td>
        <td>レイジ中 攻撃↑</td>
    </tr>
    <tr>
        <td>下段レイジドライブ</td>
        <td>レイジ中 攻撃↓</td>
    </tr>
</table>
