<div>
    <div class="btn btn-primary" id="down">
        <span class="font-large">
            <i class="fas fa-caret-left"></i>
        </span>
    </div>
    <div class="btn btn-primary" id="mute">
        <span class="font-large">
            <i class="fas fa-volume-up"></i>
            <span class="font-weight-bold" id="volume">5</span>
        </span>
    </div>
    <div class="btn btn-primary" id="up">
        <span class="font-large">
            <i class="fas fa-caret-right"></i>
        </span>
    </div>
</div>
